<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main class="main">
     <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(product => { %>
          <div class="product-details">
            <li class="checkout-list">
              <p>Product Name: <span><%= product.title %></span></p>
                <p>Quantity: <span><%=  product.price %></span></p>
                <p>Price: <span>$<%= product.price * product.quantity %></span></p>
              <form action="/cart-delete-item" method="post">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <input type="hidden" value="<%= product._id %>" name="productId">
                <button class="btn btn-delete" type="submit">Delete</button>
              </form>
            </li>
            </div>
        <% }) %>
      </ul>
      <div class="center">
        <form method="post" action="/create-order">
          <input type="hidden" value="<%= csrfToken %>" name="_csrf">
          <a class="btn" href="/checkout">Order Now!</a>
          <!-- <button class="btn btn-outline" type="submit"></button> -->
        </form>
      </div>
     
    <% } else { %>
      <div class="box">
        <div class="inner">
          <p class="empty-title">No Products in Carts!</p>
          <p class="empty-message">We couldn't find any products to display right now. <a href="/">Go to shop page</a></p>
        </div>
      </div>
    <% } %>

    </main>
    <%- include('../includes/end.ejs') %>